<!DOCTYPE html><meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1.0">
<title>Blockchain | Block {{ block['index'] }}</title>
<a href=http://127.0.0.1:5000>
Home
</a>
<a href=http://127.0.0.1:5000>
Faucet
</a>
<h1>Block Detail</h1>
<table>
<tbody><tr>
<th>Block Hash: </th>
<td>{{ block['current_hash'] }}</td>
</tr>
<tr>
<th>Height: </th>
<td>{{ block['index'] }}</td>
</tr>
<tr>
 <th>Difficulty:</th>
 <td>{{ block['difficulty'] }}</td>
</tr>
<tr>
<th>Timestamp: </th>
<td>{{ explorer.get_block_time_human(block) }}</td>
</tr>
<tr>
<th>Previous Block: </th>
<td>
<a href=http://127.0.0.1:5000/block/{{ block['index'] - 1 }} class=text-purple-500>{{ block['previous_hash'] }}</a>
</td>
</tr>
<tr>
<th>Proof: </th>
<td>{{ block['proof'] }}</td>
</tr>
</table>
 {% for transaction in block['transactions'] %}
<h3>
TX # <a href=http://127.0.0.1:5000/txs/{{ transaction['transaction_hash'] }} class=text-purple-500>{{ transaction['transaction_hash'] }}</a>
</h3>
<h4>Sender</h4>
<a href=http://127.0.0.1:5000/addrs/{{ transaction['sender'] }}>
 {{ transaction['sender'] }}
</a>
<div>
sent {{ transaction['amount'] }}
</div>
<p>Timestamp: {{ explorer.recent_tx_time(transaction) }}</p>
fee {{ transaction['fee'] }}
<h4>Recipient</h4>
<div class=space-y-4>
<div class="flex flex-row items-center">
<a href=http://127.0.0.1:5000/addrs/{{ transaction['recipient'] }} class="text-purple-500 text-reg">
{{ transaction['recipient'] }}
</a>
</div>
 {% endfor %}
</div>
<footer class="mt-2 pb-4">
</footer>
</div>
</section>
